
/* -----Custom css----- */

/* Reset defaults */
* {
    padding: 0px;
    margin: 0px;
}

html, body, div, article, section, main,
footer, header, form, fieldset, legend, pre,
code, a, h1, h2, h3, h4, h5, h6, p, ul,
ol, li, dl, dt, dd, textarea, table, td,
th, tr, input[type="email"],
input[type="number"], input[type="password"],
input[type="tel"], input[type="text"] {
   box-sizing: border-box;
}

a {
    text-decoration: none;
}

.parent-cont {
    overflow: auto;
}

/* Global */
body {
    background-color: #fff;
}

.row {
    width: 1100px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clr {
    clear: both;
}

.spacer {
    width: 100%;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #6cc0fc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6baafb;
}

::-webkit-scrollbar {
    width: 7px;
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
    border-radius: 5px;
    background-color: #F5F5F5;
}

input[type = text] {
    width: 100%;
	padding: 8px 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	border-radius: 3px;
    transition: box-shadow 0.5s;
    color: #4f5863;
    font-family: roboto-reg;
    font-size: 13px;
}

input[type = text]:focus {
    box-shadow: 3px 3px 40px -10px rgba(35, 169, 225, 0.7);
}

input[type = email] {
    width: 100%;
	padding: 8px 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	border-radius: 3px;
    transition: box-shadow 0.5s;
    color: #4f5863;
    font-family: roboto-reg;
    font-size: 13px;
}

input[type = email]:focus {
    box-shadow: 3px 3px 40px -10px rgba(35, 169, 225, 0.7);
}

input[type = password] {
    width: 100%;
	padding: 8px 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	border-radius: 3px;
    transition: box-shadow 0.5s;
    color: #4f5863;
    font-family: roboto-reg;
    font-size: 13px;
}

input[type = password]:focus {
    box-shadow: 3px 3px 40px -10px rgba(35, 169, 225, 0.7);
}

input[type = file] {
    background-color: #00ff4e1f;
	padding: 6px 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	border-radius: 3px;
    font-family: lora-reg;
    font-size: 13px;
}

textarea {
    width: 100%;
	padding: 6px 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	border-radius: 3px;
}

select {
    padding: 6px 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: box-shadow 0.5s;
    color: #4f5863;
    font-family: roboto-reg;
    font-size: 13px;
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .4);
	letter-spacing: 1px;
	font-family: roboto-reg;
    font-size: 11px;
}

@font-face {
    font-family: oswald-reg;
    src: url('/fonts/Oswaldregular.ttf');
}

@font-face {
    font-family: roboto-reg;
    src: url('/fonts/Robotoregular.ttf');
}

/*Homepage*/

.landing-bg {
    height: 100vh;
    background-image: url('/img/homepagebg.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.landing-login-cont {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 550px;
    width: 900px;
    margin-top: -275px;
    margin-left: -450px;
    background-color: #fff;
    box-shadow: 3px 3px 40px -10px rgba(0, 0, 0, 0.29);
    /*border: 1px solid #f4f5ff;*/
}

.leftlog-side {
    width: 40%;
    height: 100%;
    padding: 30px 30px;
    position: relative;
}

.login-switch {
    border: 1px solid #fff;
    padding: 7px 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 20px;
    background-color: #fff;
    color: #6f9bfe;
    font-family: roboto-reg;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, .3);
}

.rightlog-side {
    width: 60%;
    height: 100%;
    background-image: url('/img/logincover.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.login-title {
}

.login-logo {
}

.login-logo img {
    width: 50px;
}

.login-text {
    line-height: 20px;
}

.login-comp-nm {
    font-family: oswald-reg;
    font-size: 19px;
    text-transform: uppercase;
    color: #23a9e1;
    letter-spacing: 1px;
    margin-left: 5px;
    margin-top: 10px;
}

.system-about {
    font-size: 11px;
    color: #c1c1c1;
    font-family: roboto-reg;
    margin-left: 5px;
    text-transform: uppercase;
}

/*Login Form*/
.login-form {
    margin-top: 100px;
}

.lbl-login {
    color: #23a9e1;
    font-family: roboto-reg;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    display: block;
}

.login-submit {
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: #23a9e1;
    color: #fff;
    padding: 5px 15px;
    font-family: oswald-reg;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-submit:hover {
    background-color: #0783bd;
}

.lbl-btm {
    position: absolute;
    bottom: 0px;
    margin-bottom: 30px;
    font-family: roboto-reg;
    font-size: 9px;
    color: #939393;
    line-height: 17px;
    letter-spacing: 1px;
}

.link-pts {
    color: #0783bd;
}

/*login about*/
.log-about-icon {
    position: absolute;
    width: 19px;
    bottom: 0px;
    right: 0px;
    margin-bottom: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 9.5px 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.pop-about {
    display: none;
}

.pop-text-cont {
    background-color: #fff;
    position: absolute;
    padding: 7px 10px;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, .4);
    margin-bottom: 52px;
    margin-right: 10px;
    border-radius: 2px;
}

.popup-text {
    font-family: roboto-reg;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
}

#pop-name {
    color: #0783bd;
}

#hover-arrow {
    position: absolute;
    width: 12px;
    bottom: 0px;
    right: 0px;
    margin-bottom: 42px;
    margin-right: 20px;
}


/* Dashboard */
.dboard-container {
    background-color: #f6f8ff;
}

.dboard-left-panel {
    width: 17%;
    height: 100vh;
    position: fixed;
    /*background-color: #212546;*/
    background: linear-gradient(to bottom, #d9e4f1, #88d6fc, #b7d7fe,  #65c7f7);
    z-index: 999;
    box-shadow: 0px 1px 40px -10px rgba(70, 136, 246, .9);
}

.dboard-right-panel {
    width: 83%;
    height: 100vh;
    padding: 20px 30px;
}

.dboard-prof {
    width: 100%;
    height: 150px;
    padding: 20px 30px;
}

.dboard-prof img {
    display: block;
    margin: auto;
    width: 60px;
}

.dboard-admin {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.admin-avatar {
    width: 20%;
    height: 100%;
    background-image: url('/img/gravatar.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    border: 1px solid #c1c1c1;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.1);
}

.admin-profile-name {
    font-family: oswald-reg;
    color: #4f5863;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 13px;
    letter-spacing: 1px;
    padding-top: 4px;
}

.admin-subtxt {
    font-family: roboto-reg;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 5px;
}

.dboard-left-but {
    font-family: oswald-reg;
    padding: 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 12px;
    text-transform: uppercase;
    color: #5d7593;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 15px;
    transition: background-color 0.2s;
}

.dboard-left-but:hover {
    background-color: #6BAAFB;
    color: #fff;
    box-shadow: 5px 5px 21px -3px rgba(70, 136, 246, 0.8);
}

/*Dashboard Right Side*/
.dboard-menustrip {
    height: 40px;
}

.dboard-menu-left-cont {
    width: 60%;
    height: 100%;
}

.dboard-left-menu {
    background-color: #fff;
    width: 70px;
    height: 100%;
    box-shadow: 5px 5px 21px -3px rgba(70, 136, 246, 0.1);
    border-radius: 2px;
    margin-right: 10px;
}

.dboard-left-menu a {
    width: 100%;
}

.dboard-menu1-box{
    height: 40px;
    padding-top: 12px;
    position: relative;
}

.dboard-menu1-box img {
    width: 17px;
    display: block;
    margin: auto;
}

.dboard-menu2-box{
    height: 40px;
    padding-top: 13px;
    position: relative;
}

.dboard-menu2-box img {
    width: 23px;
    display: block;
    margin: auto;
}

.dboard-menu3-box{
    height: 40px;
    padding-top: 13px;
    position: relative;
}

.dboard-menu3-box img {
    width: 18px;
    display: block;
    margin: auto;
}

.dboard-menu4-box{
    height: 40px;
    padding-top: 10px;
    position: relative;
}

.dboard-menu4-box img {
    width: 17px;
    display: block;
    margin: auto;
}

.dboard-menu5-box{
    height: 40px;
    padding-top: 12px;
    position: relative;
}

.dboard-menu5-box img {
    width: 18px;
    display: block;
    margin: auto;
}

.dboard-menu6-box{
    height: 40px;
    padding-top: 12px;
    position: relative;
}

.dboard-menu6-box img {
    width: 18px;
    display: block;
    margin: auto;
}

/*Dashboard menu1*/
#dboard-menu-pop1 {
    display: none;
}

#dboard-menu-pop1 img {
    position: absolute;
    padding-left: 28px;
    padding-top: 5px;
    width: 12px;
}

#dboard-menu-pop1 p {
    margin-top: 15px;
    position: absolute;
    background-color: #212546;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-family: roboto-reg;
    font-size: 12px;
}

/*Dashboard Menu2*/
#dboard-menu-pop2 {
    display: none;
}

#dboard-menu-pop2 img {
    position: absolute;
    padding-left: 28px;
    padding-top: 5px;
    width: 12px;
}

#dboard-menu-pop2 p {
    margin-top: 15px;
    position: absolute;
    background-color: #212546;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-family: roboto-reg;
    font-size: 12px;
}

/*Dashboard Menu3*/
#dboard-menu-pop3 {
    display: none;
}

#dboard-menu-pop3 img {
    position: absolute;
    padding-left: 28px;
    padding-top: 5px;
    width: 12px;
}

#dboard-menu-pop3 p {
    margin-top: 15px;
    position: absolute;
    background-color: #212546;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-family: roboto-reg;
    font-size: 12px;
}

/*Dashboard Menu4*/
#dboard-menu-pop4 {
    display: none;
}

#dboard-menu-pop4 img {
    position: absolute;
    padding-left: 28px;
    padding-top: 5px;
    width: 12px;
}

#dboard-menu-pop4 p {
    margin-top: 15px;
    position: absolute;
    background-color: #212546;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-family: roboto-reg;
    font-size: 12px;
}

/*Dashboard Menu5*/
#dboard-menu-pop5 {
    display: none;
}

#dboard-menu-pop5 img {
    position: absolute;
    padding-left: 28px;
    padding-top: 5px;
    width: 12px;
}

#dboard-menu-pop5 p {
    margin-top: 15px;
    position: absolute;
    background-color: #212546;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-family: roboto-reg;
    font-size: 12px;
}

/*Dashboard Menu6*/
#dboard-menu-pop6 {
    display: none;
}

#dboard-menu-pop6 img {
    position: absolute;
    padding-left: 28px;
    padding-top: 5px;
    width: 12px;
}

#dboard-menu-pop6 p {
    margin-top: 15px;
    position: absolute;
    background-color: #212546;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-family: roboto-reg;
    font-size: 12px;
}


/*Dashboard Right Menus*/

.dboard-menu-right-cont {
    width: 40%;
    height: 100%;/*
    border: 1px solid red;*/
}

.dboard-right-menu {
    height: 40px;   /*
    border: 1px solid red;*/
}

.dboard-rmenu1-box {
    height: 100%;
    width: 20px;
}

.dboard-rmenu1-box img {
    display: block;
    margin: auto;
    width: 5px;
    padding-top: 11px;
}

.dboard-rmenu2-box {
    height: 100%;
    background-image: url('/img/gravatar.jpg');
    background-position: center;
    background-size: cover;
    width: 40px;
    margin-right: 3px;
    border: 1px solid #c1c1c1;
    border-radius: 50px;
    box-shadow: 5px 5px 21px -3px rgba(70, 136, 246, 0.3);
}


/*Dashboard right menu*/
.dboard-rmenu3-box {
    height: 100%;
    width: 30px;
}

.dboard-rmenu3-box img {
    display: block;
    margin: auto;
    width: 18px;
    padding-top: 11px;
}

.dboard-rmenu4-box {
    height: 100%;
    width: 30px;
}

.dboard-rmenu4-box img {
    display: block;
    margin: auto;
    width: 18px;
    padding-top: 11px;
}

/*Logout pop up*/
#acc-but-popup {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 60px;
    display: none;
}

#acc-but-popup img {
    margin-left: 90px;
    right: 0px;
    width: 12px;
}

#acc-but-popup-cont {
    background-color: #fff;
    box-shadow: 5px 5px 21px -3px rgba(70, 136, 246, 0.2);
    margin-top: -5px;
    margin-right: 30px;
    padding: 10px 12px;
    font-family: roboto-reg;
    font-size: 12px;
    line-height: 12px;
    border-radius: 2px;
    border: 1px solid #bbdbff;
}

#acc-but-popup-cont a {
    text-decoration: none;
    color: #98ADC5;
    transition: color 0.3s;
    display: block;
}

#acc-but-popup-cont a:hover {
    color: #212546;
}